* {
    box-sizing: border-box;
    margin: 0;
}

header {
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    box-shadow: 0px 8px 40px darkgoldenrod;
    z-index: 1111;
    position: relative;
}

header div {
    width: 40%;
    color: white;

}

header .logo {
    font-family: 'Chango',
        cursive;
    font-size: 25px;
}

header .nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .nav a {
    padding: 20px;
    text-decoration: none;
    color: white;
    margin-left: 5px;
    text-transform: capitalize;
    font-weight: bold;
}

header .nav a:hover {
    background-color: gold;
}

.general-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6b7f80;
    color: white;
    padding: 20px;
}


.general-info h1 .serv {
    color: gold;
}

.general-info p {
    width: 60%;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.content {
    width: 100%;
    display: flex;
    background-color: #342D44;
    justify-content: space-evenly;
    padding: 20px;
}


.content .elem img {
    width: 150px;
    height: 150px;

}

.content .elem img:hover {
    transform: scale(1.3) rotate(10deg);
    -webkit-transform: scale(1.3) rotate(10deg);
    -moz-transform: scale(1.3) rotate(10deg);
    -ms-transform: scale(1.3) rotate(10deg);
    -o-transform: scale(1.3) rotate(10deg);
    transition: transform 1s;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;

}

.content .elem:nth-child(2) img:hover {
    transform: scale(2) rotate(10deg);
    -webkit-transform: scale(2) rotate(10deg);
    -moz-transform: scale(2) rotate(10deg);
    -ms-transform: scale(2) rotate(10deg);
    -o-transform: scale(2) rotate(10deg);
    transition: transform 1s;
    -webkit-transition: transform 1s;
    -moz-transition: transform 1s;
    -ms-transition: transform 1s;
    -o-transition: transform 1s;
}

.elem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.elem figcaption {
    color: white;
    text-align: center;
    font-weight: bold;
    color: gold;
    margin-top: 10px;
    padding: 10px;
}

.elem img[alt="2nd team"] {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.elem span {
    color: crimson;
    font-weight: bold;
    text-align: center;

}

.about {
    display: flex;
    background-image: url("/imgs/back\ repeat.PNG");
    background-size: cover;
}

@media (max-width:1200px) {
    .about {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .about .about-text {
        align-self: stretch;
        flex-grow: 1;

    }

    .about .about-text,
    .about .about-text h1 {
        align-self: center;
    }

    .about .about-text .about-us {
        text-align: center;
        justify-content: center;
    }


}

@media (max-width:800px) {

    .parent-calc .all-cards {
        flex-direction: column;
        align-items: center;
    }


}

.about div,
.about h1 {
    padding: 10px;
}

.about div h1 {
    text-transform: capitalize;
    font-weight: bold;
}

.about .about-text .about-us {
    line-height: 30px;
    font-weight: bold;
    font-size: 18px;
}

.about .about-text {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.parent-calc {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 20px;
    background-color: #342D44;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.parent-calc>h1 {
    color: gold;
}

.parent-calc .all-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 115px;
    text-align: center;
    padding: 10px;
    margin: 30px 10px;
    color: white;
    flex-grow: 1;

}

.parent-calc .all-cards {
    display: flex;
    width: 80%;

}

.parent-calc .services {
    background-color: crimson;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.parent-calc .degrees {
    background-color: #227093;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.parent-calc .clients {
    background-color: #218C74;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.parent-calc span {
    font-size: 20px;
}

.parent-our-skills {
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: center;
    background-color: #6b7f80;
}

.parent-our-skills h1 {
    padding: 10px 20px 20px 20px;
    color: gold;
}

.parent-our-skills .skills {
    width: 70%;
}


.parent-our-skills .skills div div {
    height: 3px;
}

.parent-our-skills .skills div {
    margin: 10px;
    width: 100%;
}

.parent-our-skills .skills .html {
    padding: 10px;
    color: white;
    position: relative;
    background-image: linear-gradient(to right, #03A9F4 60%, white 60%, white 100%);
}

.parent-our-skills .skills .html::before {
    content: "HTML";
    position: absolute;
    left: -60px;
    font-weight: bold;
}

.parent-our-skills .skills .html::after {
    content: "60%";
    position: absolute;
    left: 54%;
    bottom: 10px;

}

.parent-our-skills .skills .css {
    padding: 10px;
    color: white;
    position: relative;
    background-image: linear-gradient(to right, #03A9F4 70%, white 70%, white 100%);
}

.parent-our-skills .skills .css::before {
    content: "CSS";
    position: absolute;
    left: -50px;
    font-weight: bold;
}

.parent-our-skills .skills .css::after {
    content: "70%";
    position: absolute;
    left: 64%;
    bottom: 10px;

}

.parent-our-skills .skills .js {
    padding: 10px;
    color: white;
    position: relative;
    background-image: linear-gradient(to right, #03A9F4 80%, white 80%, white 100%);
}

.parent-our-skills .skills .js::before {
    content: "JavaScript";
    position: absolute;
    left: -90px;
    font-weight: bold;
}

.parent-our-skills .skills .js::after {
    content: "80%";
    position: absolute;
    left: 74%;
    bottom: 10px;
}

.parent-our-skills .skills .php {
    padding: 10px;
    color: white;
    position: relative;
    background-image: linear-gradient(to right, #03A9F4 65%, white 65%, white 100%);
}

.parent-our-skills .skills .php::before {
    content: "PHP";
    position: absolute;
    left: -50px;
    font-weight: bold;
}

.parent-our-skills .skills .php::after {
    content: "65%";
    position: absolute;
    left: 59%;
    bottom: 10px;
}

.parent-our-skills .skills .python {
    padding: 10px;
    color: white;
    position: relative;
    background-image: linear-gradient(to right, #03A9F4 90%, white 90%, white 100%);
}

.parent-our-skills .skills .python::before {
    content: "Python";
    position: absolute;
    left: -70px;
    font-weight: bold;
}

.parent-our-skills .skills .python::after {
    content: "90%";
    position: absolute;
    left: 84%;
    bottom: 10px;
}

.parent-our-skills1 {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
    align-items: center;
    background-color: #6b7f80;
    width: 100%;
    margin: auto;
}

.parent-our-skills1 h1 {
    padding: 10px 20px 20px 20px;
    color: gold;
}

.parent-our-skills1 .skills1 {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.parent-our-skills1 .skills1 .lang {
    display: flex;
    padding: 10px;
    color: white;
    font-weight: bold;
    align-items: center;
    flex-wrap: nowrap;
}

.parent-our-skills1 .skills1 .lang .lang-type {
    width: 10%;
    text-align: right;
}

.parent-our-skills1 .skills1 .lang .precentage {
    width: 75%;
    display: flex;
}

.parent-our-skills1 .skills1 .lang .precentage>div {
    transition: width 5s 5s;
    -webkit-transition: width 5s 5s;
    -moz-transition: width 5s 5s;
    -ms-transition: width 5s 5s;
    -o-transition: width 5s 5s;
}


.parent-our-skills1 .skills1 .lang .precentage div:nth-child(1) {
    background-color: #03A9F4;
    margin-left: 10px;
    padding: 10px 5px;
    text-align: right;
}

.parent-our-skills1 .skills1 .lang .precentage div:nth-child(2) {
    padding: 10px;
    background-color: white;
}

@keyframes width-html1 {
    100% {
        width: 60%;
    }
}

@keyframes width-html2 {
    100% {
        width: 40%;
    }
}

@keyframes width-css1 {
    100% {
        width: 70%;
    }
}

@keyframes width-css2 {
    100% {
        width: 30%;
    }
}

@keyframes width-js1 {
    100% {
        width: 80%;
    }
}

@keyframes width-js2 {
    100% {
        width: 20%;
    }
}

@keyframes width-php1 {
    100% {
        width: 65%;
    }
}

@keyframes width-php2 {
    100% {
        width: 35%;
    }
}

@keyframes width-py1 {
    100% {
        width: 90%;
    }
}

@keyframes width-py2 {
    100% {
        width: 10%;
    }
}


.parent-our-skills1 .skills1 .html1 .precentage div:nth-child(1) {
    width: 0%;
    animation: width-html1 2s linear 1 forwards;
    -webkit-animation: width-html1 2s linear 1 forwards;
}

.parent-our-skills1 .skills1 .html1 .precentage div:nth-child(2) {
    width: 100%;
    animation: width-html2 2s linear 1 forwards;
    -webkit-animation: width-html2 2s linear 1 forwards;
}

.parent-our-skills1 .skills1 .css1 .precentage div:nth-child(1) {
    width: 0%;
    animation: width-css1 2s linear 1 forwards;
    -webkit-animation: width-css1 2s linear 1 forwards;
}

.parent-our-skills1 .skills1 .css1 .precentage div:nth-child(2) {
    width: 100%;
    animation: width-css2 linear 2s 1 forwards;
    -webkit-animation: width-css2 linear 2s 1 forwards;
}

.parent-our-skills1 .skills1 .js1 .precentage div:nth-child(1) {
    width: 0%;
    animation: width-js1 2s linear 1 forwards;
    -webkit-animation: width-js1 2s linear 1 forwards;
}

.parent-our-skills1 .skills1 .js1 .precentage div:nth-child(2) {
    width: 100%;
    animation: width-js2 2s linear 1 forwards;
    -webkit-animation: width-js2 2s linear 1 forwards;
}

.parent-our-skills1 .skills1 .php1 .precentage div:nth-child(1) {
    width: 0%;
    animation: width-php1 2s linear 1 forwards;
    -webkit-animation: width-php1 2s linear 1 forwards;
}

.parent-our-skills1 .skills1 .php1 .precentage div:nth-child(2) {
    width: 100%;
    animation: width-php2 2s linear 1 forwards;
    -webkit-animation: width-php2 2s linear 1 forwards;
}

.parent-our-skills1 .skills1 .python1 .precentage div:nth-child(1) {
    width: 0%;
    animation: width-py1 2s linear 1 forwards;
    -webkit-animation: width-py1 2s linear 1 forwards;
}

.parent-our-skills1 .skills1 .python1 .precentage div:nth-child(2) {
    width: 100%;
    animation: width-py2 2s linear 1 forwards;
    -webkit-animation: width-py2 2s linear 1 forwards;
}

footer {
    background-color: #342D44;
    display: flex;
    padding: 20px;
    font-weight: bold;
    color: gold;
    justify-content: space-between;
}

footer div {
    width: 30%;
    text-align: center;
}

footer div span {
    color: crimson;
}

p.clear {
    clear: both;
    display: none;
}